﻿<link rel="stylesheet" href="~/cropperjs/docs/css/cropper.css">
<script src="~/cropperjs/docs/js/cropper.js"></script>

<script>
    var cropperX = null;
    function InitializeCropper(ImageToCropSrcID, CropButtonSrcID,FinalImageSrcID,FinalImageDataSrcID,ResultDivID,ReCropButtonID) {
       //debugger;
        let ImageToCrop = document.querySelector('#' + ImageToCropSrcID);
        //var CroppedDataStatus = document.querySelector('#'+CroppedDataStatus);
        //var cropBoxData = document.querySelector('#cropBoxData');
        let button = document.getElementById(CropButtonSrcID);
        var result = document.getElementById(FinalImageDataSrcID);
        let ReCropButton = document.getElementById(ReCropButtonID);
        var ResultDiv = ResultDivID;
        var ImageToRecrop;
   
        if (cropperX != null) {
            cropperX.destroy();
        }

        cropperX = new Cropper(ImageToCrop, {
            maxWidth: 1200,
            maxHeight: 1200,
            fillColor: '#fff',
            imageSmoothingEnabled: true,
            imageSmoothingQuality: 'high',
            ready: function (event) {
                // Zoom the image to its natural size
                //cropperX.zoomTo(1);
            },

            crop: function (event) {
                //CroppedDataStatus.textContent = JSON.stringify(cropperX.getData());
                //cropBoxData.textContent = JSON.stringify(cropperX.getCropBoxData());
                 
            },

            zoom: function (event) {
                // Keep the image in its natural size
                if (event.detail.oldRatio === 1) {
                    event.preventDefault();
                }
            },
        });

        button.onclick = function () {
           //debugger;
            // result.appendChild(cropperX.getCroppedCanvas());
            var ImageFinalData = cropperX.getCroppedCanvas().toDataURL();
          
            ImageToRecrop = ImageFinalData;
            //document.getElementById(FinalImageSrcID).src = ImageFinalData;
            result.src = ImageFinalData;;


            document.getElementById(FinalImageSrcID).value = ImageFinalData;
            $("#" + ResultDiv).css("display", "block");
            $("#" + CropButtonSrcID).css("display", "none");
             $("#" + ReCropButtonID).css("display", "block");
             if (cropperX != null) {
                cropperX.destroy();
            }
            //cropperX.getCroppedCanvas().toBlob(function (blob) {
            //   //debugger;
            //    //var formData = new FormData();
            //    document.getElementById("MyForm").append('upload', blob, 'imagetest.jpeg');
            //});

        };
        ReCropButton.onclick = function () {
           //debugger;
        $("#" + CropButtonSrcID).css("display", "block");
        $("#" + ImageToCropSrcID).css("display", "block");
        $("#" + ReCropButtonID).css("display", "none");
               if (ImageToRecrop) {


                document.getElementById(ImageToCropSrcID).src = ImageToRecrop;
                //cropperX.cropper('replace', e.target.result);
                InitializeCropper(ImageToCropSrcID, CropButtonSrcID,FinalImageSrcID,FinalImageDataSrcID,ResultDivID,ReCropButtonID);

        }

        };
    }


    function SelectImage(input, ImageToCropSrcID, CropButtonSrcID,FinalImageSrcID, FinalImageDataSrcID,ResultDivID,ReCropButtonID) {

       //debugger;
        $("#" + CropButtonSrcID).css("display", "block");
        $("#" + ImageToCropSrcID).css("display", "block");
         // $("#" + ReCropButtonID).css("display", "block");
     
        
        if (input.files && input.files[0]) {
            let reader = new FileReader();

            reader.onload = function (e) {

                document.getElementById(ImageToCropSrcID).src = e.target.result;
                //cropperX.cropper('replace', e.target.result);
                InitializeCropper(ImageToCropSrcID, CropButtonSrcID,FinalImageSrcID,FinalImageDataSrcID,ResultDivID,ReCropButtonID);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function RemoveImage(ResultImageDiv,ResultImageID,FileUpload,RecropButtonID,FinalImageSrcID)
    {
       //debugger;
      
        $("#" + ResultImageDiv).css("display", "none");
       
         if (cropperX != null) {
            cropperX.destroy();
        }
        var ImageToCrop = $("#" + ResultImageID);
        var RecropButton = $("#" + RecropButtonID);
        var FinalImage = $("#" + FinalImageSrcID);
        ImageToCrop.attr('src', '');
        FinalImage.val('');
        ImageToCrop.css('display', 'none');
        RecropButton.css('display', 'none');
        document.getElementById(FileUpload).value = "";
        //readURLIndexImage(ResultImageID);
    }

    //InitializeCropper("ImageToCrop","FinalImageID","CropButtonOne");

</script>
