﻿@model CategoryViewModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<LegalHunter.Data.ApplicationUser> SignInManager
@inject UserManager<LegalHunter.Data.ApplicationUser> UserManager
@{
    var UserInfo = await UserManager.GetUserAsync(User);
}
@{
    ViewData["Title"] = "Category";
}
<div id="forms">
    <div class="wrap card">
        <section class="app-content">
            <div class="row">
                <div class="col-md-12 bottom">
                    <div class="left">
                        @if (Model.Option == "Edit")
                        {
                            <h3>Update Category</h3>

                        }
                        else
                        {
                            <h3>New Category</h3>

                        }
                        @*<div class="m-b-xl">
                                Manage Exams Here.
                            </div>*@
                    </div>
                    <div class="right">
                        <a a href="~/Home/Index">dashboard /</a>
                        <a href="~/Category/CategoryList">Category List /</a>
                        <a href="#">Category</a>
                    </div>
                </div>

                <div class="col-lg-6">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data" asp-controller="Category" asp-action="Category">
                        <div class="form-group">
                            <label for="CategoryName" class="col-sm-12">Category Name</label>
                            <div class="col-sm-12">
                                <input type="text" id="control-demo-1" class="form-control" asp-for="@Model.CategoryName">
                                <span asp-validation-for="@Model.CategoryName" class="text-danger"></span>
                            </div>
                        </div><!-- .form-group -->
                        <div class="form-group" style=" margin-bottom: 18px;">
                            <div class="col-sm-12">
                                <div>
                                    <label>
                                        <input type="checkbox" id="IsParentCategoryCheck" asp-for="@Model.IsParentCategory">
                                        Is Parent Category?
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div id="ParentDiv" class="form-group" @*style="display:none"*@>
                            <label for="ParentCategoryID" class="col-sm-12">Select Parent Category</label>
                            <div class="col-sm-12">

                                <select id="ParentCategoryID" asp-for="ParentCategoryID"
                                        class="form-control Select2" asp-items="@(new SelectList(ViewBag.ParentCategoryList,"CategoryID", "FullCategory"))">
                                    <option value="">[SELECT]</option>
                                </select>

                            </div>
                            <span asp-validation-for="@Model.ParentCategoryID" class="text-danger"></span>
                        </div>
                       <!-- .form-group -->




                        <div class="form-group">
                            <label for="CategoryDesc" class="col-sm-12">Category Description</label>
                            <div class="col-sm-12">
                                <textarea asp-for="@Model.CategoryDesc" class="form-control"></textarea>
                            </div>
                        </div><!-- .form-group -->
                        <div class="col-md-12 text-center">
                            <input asp-for="Option" type="hidden" />
                            <input asp-for="CategoryID" type="hidden" />

                            @if (Model.Option == "Edit")
                            {
                                <input type="submit" value="UPDATE" class="btn mw-md btn-warning" />
                            }
                            else
                            {
                                <input type="submit" value="SAVE" class="btn mw-md btn-primary" />
                            }
                        </div>

                    </form>
                </div>
            </div><!-- END row -->
        </section><!-- #dash-content -->
    </div><!-- .wrap -->
</div>
<script>
    $(document).ready(function () {
     
        if ($('#IsParentCategoryCheck').prop("checked") == true) {
            $('#ParentDiv').css("display", "none");
        }
        else if ($('#IsParentCategoryCheck').prop("checked") == false) {
            $('#ParentDiv').css("display", "block");
            $(".select2").css('width', '458.5px');
        }

        $('#IsParentCategoryCheck').click(function () {
            debugger
            if ($(this).prop("checked") == true) {
                $("#ParentCategoryID").val('');
                $('#ParentDiv').css("display", "none");
            }
            else if ($(this).prop("checked") == false) {
                $('#ParentDiv').css("display", "block");
                $(".select2").css('width', '458.5px');
            }
        });
    });
</script>

