﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<form class="login100-form validate-form">
    <span class="login100-form-title">@ViewData["Title"]</span>
    <p>
        Please check your email to reset your password.
    </p>
</form>

