﻿@model ExamViewModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<LegalHunter.Data.ApplicationUser> SignInManager
@inject UserManager<LegalHunter.Data.ApplicationUser> UserManager
@{
    var UserInfo = await UserManager.GetUserAsync(User);
}
@{
    ViewData["Title"] = "Exam";
}
<div id="forms">
    <div class="wrap card">
        <section class="app-content">
            <div class="row">
                <div class="col-md-12 bottom">
                    <div class="left">
                        @if (Model.Option == "Edit")
                        {
                            <h3>Update Exam</h3>

                        }
                        else
                        {
                            <h3>New Exam</h3>

                        }
                        @*<div class="m-b-xl">
                    Manage Exams Here.
                </div>*@
                    </div>
                    <div class="right">
                        <a a href="~/Home/Index">dashboard /</a>
                        <a href="~/Exams/ExamList">Exams List /</a>
                        <a href="#">Exam</a>
                    </div>
                </div>

                <div class="col-lg-6">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data" asp-controller="Exams" asp-action="Exam">
                        <div class="form-group">
                            <label for="ExamName" class="col-sm-12">Exam Name</label>
                            <div class="col-sm-12">
                                <input type="text" id="control-demo-1" class="form-control" asp-for="@Model.ExamName">
                            </div>
                        </div><!-- .form-group -->
                        <div class="form-group">
                            <label for="ExamCategoryIDfs" class="col-sm-12">Exam Category</label>
                            <div class="col-sm-12">

                                <select id="ExamCategoryIDf" asp-for="ExamCategoryIDf"
                                        class="form-control Select2" asp-items="@(new SelectList(ViewBag.ExamCategoryList,"CategoryID", "FullCategory"))">
                                    <option value="">[SELECT]</option>
                                </select>
                            </div>
                        </div><!-- .form-group -->
                        <div class="form-group">
                            <label for="control-demo-2" class="col-sm-12">Total Duration</label>
                            <div class="col-sm-12">
                                <input type="text" id="control-demo-2" class="form-control" asp-for="@Model.ExamDuration">
                            </div>
                        </div><!-- .form-group -->

                        <div class="form-group">
                            <label for="ExamDesc" class="col-sm-12">Exam Description</label>
                            <div class="col-sm-12">
                                <textarea asp-for="@Model.ExamDesc" class="form-control"></textarea>
                            </div>
                        </div><!-- .form-group -->
                        <div class="col-md-12 text-center">
                            <input asp-for="Option" type="hidden" />
                            <input asp-for="ExamID" type="hidden" />

                            @if (Model.Option == "Edit")
                            {
                                <input type="submit" value="UPDATE" class="btn mw-md btn-warning" />
                            }
                            else
                            {
                                <input type="submit" value="SAVE" class="btn mw-md btn-primary" />
                            }
                        </div>

                    </form>
                </div>
                @if (Model.Option == "Edit")
                {
                    <div class="col-md-6">
                        <div class="widget p-lg">
                            <h4 style="float:left" class="m-b-lg">Questions List</h4>
                            <a style="float:right;color:white" class="btn mw-md btn-primary" onclick="OpenQuestionUploadModal(event);"><i class="fa fa-xs fa-upload"></i></a>
                            <a style="float:right;margin-right:2px;" class="btn mw-md btn-primary" href="~/Questions/Question?ExamIDf=@Model.ExamID&FromPage=Exam">+ New Question</a>

                            <table id="tbl_SearchEncryption" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>Question Name</td>
                                        <td>Option A</td>
                                        <td>Option B</td>
                                        <td>Option C</td>
                                        <td>Option D</td>
                                        <td>Corrected Option</td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div><!-- .widget -->
                    </div>
                }

            </div><!-- END row -->
        </section><!-- #dash-content -->
    </div><!-- .wrap -->
</div>
<div id="UploadBulkQuestions" class="modal fade bd-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" style="margin-top:15px !important;overflow-y: initial !important">
        <div class="modal-content" style="    border: none;">
            <div class="modal-header">
                <h5 class="modal-title h4" id="myLargeModalLabel2" >Upload Questions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div id="modal-bodyProduct" class="modal-body" style="height:350px;overflow-y: auto;">
                <div class="page-body gallery-page">
                    <div class="row">

                        <div class="col-sm-12">


                            <form asp-controller="Exams" asp-action="UploadBulkQuestions" enctype="multipart/form-data" method="post" id="UplaodBulkQuestionsForm">
                                <div class="row">
                                    <div class="col-md-12">                    

                                        <div class="form-group">
                                            <label>
                                             Select Excel <br /><span class="text-muted" style="font-size:10px;">
    **Excel File should be closed at the time of file upload
</span>
                                        </label>
                                        <input required type="file" id="QuestionsListFile" name="QuestionsListFile" class="form-control" />

                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Select Question Image Zip File
                                            <br />
                                            <span class="text-muted" style="font-size:10px;">File Format should be ".zip" </span>
                                        </label>
                                        <input required type="file" id="QuestionsImageFile" name="QuestionsImageFile" class="form-control" />

                                    </div>

                                <div id="SelectDiv" style="display:none">

                                </div>
                            </div>
                                    <div class="col-md-12" align="center">
                                        @if (Model.Option == "Edit")
                                        {
                                            <input name="ExamIDf" id="ExamIDf"value="@Model.ExamID" type="hidden" />
                                        }
                                        <button type="submit" value="Submit" class="btn btn-primary">Start Import</button>

                                    </div>

                        </div>
                    </form>


                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>
<script>


    var t = null;

    $(document).ready(function () {

        LoadDataTable();
    });

    function LoadDataTable() {
        debugger;
        var SearchExamIDf = '@Model.ExamID';
            let t = $("#tbl_SearchEncryption").DataTable({
            processing: true,
            serverSide: true,
            info: true,
            ajax: {
                url: '../Questions/SearchQuestion',
                "type": "POST",
                data: function (data) {
                    data.ExamID = SearchExamIDf;
                    //delete data.columns;

                }
            },
            scrollY: 300,
            deferRender: true,
            //scroller: true,
            columns: [
                {
                    "render": function (data, type, item, meta) {
                        let outputsting = "";

                        if (item.IsActive == true) {
                            outputsting += '<a class="btn btn-sm  btn-danger"  href="/Questions/QuestionStatus?FromPage=Exam&id=' + item.ExamQuestionID + '&&Status=' + false + '">De-Activate</a>';
                        }
                        else {
                            outputsting += '<a class="btn btn-sm  btn-success" style="min-width: 100px;" href="/Questions/QuestionStatus?FromPage=Exam&id=' + item.ExamQuestionID + '&&Status=' + true + '">Activate</a>'+
                                '<a class="btn btn-sm  btn-danger" onclick="LoadConfirm(\'Questions/DeleteQuestion?FromPage=Exam&id=' + item.ExamQuestionID + '\',event,\'delete\');" ><i class="fa fa-trash"></i></a>';
                        }

                        outputsting += '<a class="btn btn-warning btn-sm BtnSmall ShowLoader BorderRadius50"  href="/Questions/Question?FromPage=Exam&Option=Edit&ExamQuestionID=' + item.ExamQuestionID + '"> <i class="fa fa-pencil-alt" aria-hidden="true"></i></a>';

                        return outputsting;
                    }
                },


                { "data": "QuestionTitle" },
                { "data": "OptionA" },
                { "data": "OptionB" },
                { "data": "OptionC" },
                { "data": "OptionD" },
                { "data": "CorrectOption" },

            ],
            columnDefs: [{ orderable: false, targets: [6] }], // to disable columns order, may cause error if not put correctly
            order: [[1, 'asc']],
            select: true,
            scrollX: true,
            //sScrollX: "100%",
            //sScrollXInner: "100%",
            dom: 'lfrtip',
            //serverPaging: true,
            //  responsive: true,
            buttons: true,
            "language": {
                "emptyTable": "<div class='text-warning text-center'>No Questions found.</div>"
            }
        });
    }

</script>
<script>

    function OpenQuestionUploadModal(e) {
        //debugger;
        $("#UploadBulkQuestions").modal('show');
    }

    $('#UploadBulkQuestions').on('hidden.bs.modal', function (e) {
        $(this).find('#UplaodBulkQuestionsForm')[0].reset();
        $("#SelectDiv").html('');
        $("#SelectDiv").css("display", "none");
    });
    $("#UploadBulkQuestions #QuestionsListFile").on('change', function () {
        debugger;
        if (this.files[0].size > 20971520) {
            bootbox.alert("Maximum File size 20MB");
            this.value = "";
        }
        else {

            var Content = '';
            var fd = new FormData();
            fd.append("QuestionsListFile", this.files[0]);
            var data = $.ajax({
                url: '../Exams/LoadExcelColumHeader',
                type: 'POST',
                data: fd,
                processData: false,
                contentType: false,
                success: function (data) {
                    debugger;
                    Content += '<div class="form-group">' +
                        '<label>' +
                        '<span class="text-muted" style="font-size:10px;">**Map corresponding fields from excel-sheet to database </span>' +
                        '</label>' +
                        '</div>';
                    if (data != null) {
                        Content += '<div class="form-group col-sm-6" style="float: left;padding-right: 10px;padding-left: 10px;">' +
                            '<label>' +
                            'Question Title' +
                            '</label>' +
                            '<select id="QuestionTitle" name="QuestionTitle" class="form-control Select3"><option value="">[SELECT]</option>';
                        for (var i = 0; i < data.length; i++) {
                            Content += '<option value="' + data[i] + '">' + data[i] + '</option>';
                        }
                        Content += '</select></div>';
                        Content += '<div class="form-group col-sm-6" style="float: right;padding-right: 10px;padding-left: 10px;">' +
                            '<label>' +
                            'Question Description' +
                            '</label>' +
                            '<select id="QuestionDesc" name="QuestionDesc" class="form-control Select3"><option value="">[SELECT]</option>';
                        for (var i = 0; i < data.length; i++) {
                            Content += '<option value="' + data[i] + '">' + data[i] + '</option>';
                        }
                        Content += '</select></div>';
                        Content += '<div class="form-group col-sm-6" style="float: left;padding-right: 10px;padding-left: 10px;">' +
                            '<label>' +
                            'Option A' +
                            '</label>' +
                            '<select id="OptionA" name="OptionA" class="form-control Select3"><option value="">[SELECT]</option>';
                        for (var i = 0; i < data.length; i++) {
                            Content += '<option value="' + data[i] + '">' + data[i] + '</option>';
                        }
                        Content += '</select></div>';
                        Content += '<div class="form-group col-sm-6" style="float: right;padding-right: 10px;padding-left: 10px;">' +
                            '<label>' +
                            'Option A Image' +
                            '</label>' +
                            '<select id="OptionAImg" name="OptionAImg" class="form-control Select3"><option value="">[SELECT]</option>';
                        for (var i = 0; i < data.length; i++) {
                            Content += '<option value="' + data[i] + '">' + data[i] + '</option>';
                        }
                        Content += '</select></div>';
                        Content += '<div class="form-group col-sm-6" style="float: left;padding-right: 10px;padding-left: 10px;">' +
                            '<label>' +
                            'Option B' +
                            '</label>' +
                            '<select id="OptionB" name="OptionB" class="form-control Select3"><option value="">[SELECT]</option>';
                        for (var i = 0; i < data.length; i++) {
                            Content += '<option value="' + data[i] + '">' + data[i] + '</option>';
                        }
                        Content += '</select></div>';
                        Content += '<div class="form-group col-sm-6" style="float: right;padding-right: 10px;padding-left: 10px;">' +
                            '<label>' +
                            'Option B Image' +
                            '</label>' +
                            '<select id="OptionBImg" name="OptionBImg" class="form-control Select3"><option value="">[SELECT]</option>';
                        for (var i = 0; i < data.length; i++) {
                            Content += '<option value="' + data[i] + '">' + data[i] + '</option>';
                        }
                        Content += '</select></div>';

                        Content += '<div class="form-group col-sm-6" style="float: left;padding-right: 10px;padding-left: 10px;">' +
                            '<label>' +
                            'Option C' +
                            '</label>' +
                            '<select id="OptionC" name="OptionC" class="form-control Select3"><option value="">[SELECT]</option>';
                        for (var i = 0; i < data.length; i++) {
                            Content += '<option value="' + data[i] + '">' + data[i] + '</option>';
                        }
                        Content += '</select></div>';
                        Content += '<div class="form-group col-sm-6" style="float: right;padding-right: 10px;padding-left: 10px;">' +
                            '<label>' +
                            'Option C Image' +
                            '</label>' +
                            '<select id="OptionCImg" name="OptionCImg" class="form-control Select3"><option value="">[SELECT]</option>';
                        for (var i = 0; i < data.length; i++) {
                            Content += '<option value="' + data[i] + '">' + data[i] + '</option>';
                        }
                        Content += '</select></div>';

                        Content += '<div class="form-group col-sm-6" style="float: left;padding-right: 10px;padding-left: 10px;">' +
                            '<label>' +
                            'OptionD' +
                            '</label>' +
                            '<select id="OptionD" name="OptionD" class="form-control Select3"><option value="">[SELECT]</option>';
                        for (var i = 0; i < data.length; i++) {
                            Content += '<option value="' + data[i] + '">' + data[i] + '</option>';
                        }
                        Content += '</select></div>';
                        Content += '<div class="form-group col-sm-6" style="float: right;padding-right: 10px;padding-left: 10px;">' +
                            '<label>' +
                            'Option D Image' +
                            '</label>' +
                            '<select id="OptionDImg" name="OptionDImg" class="form-control Select3"><option value="">[SELECT]</option>';
                        for (var i = 0; i < data.length; i++) {
                            Content += '<option value="' + data[i] + '">' + data[i] + '</option>';
                        }
                        Content += '</select></div>';


                        Content += '<div class="form-group col-sm-12" style="float: right;padding-right: 10px;padding-left: 10px;">' +
                            '<label>' +
                            'Correct Option' +
                            '</label>' +
                            '<select id="CorrectOption" name="CorrectOption" class="form-control Select3"><option value="">[SELECT]</option>';
                        for (var i = 0; i < data.length; i++) {
                            Content += '<option value="' + data[i] + '">' + data[i] + '</option>';
                        }
                        Content += '</select></div>';
                    }

                    $("#SelectDiv").html('');
                    $("#SelectDiv").html(Content);

                    if (Content != '') {
                        $("#modal-bodyProduct").css("height", "500px");
                        $("#SelectDiv").css("display", "block");
                    }
                    else {
                        $("#modal-bodyProduct").css("height", "350px");
                        $("#SelectDiv").css("display", "none");
                    }

                }
            });
        }
    });

    $("#UploadBulkQuestions #QuestionsImageFile").on('change', function () {
        if (this.files[0].size > 20971520) {
            bootbox.alert("Maximum File size 20MB");
            this.value = "";
        };
    });
</script>