﻿@{
    ViewData["Title"] = "Exam List";
}

<div class="col-md-12">
    <div class="widget p-lg">
        <div class="col-md-12 bottom">
            <div class="left">
                <h3>Exams Management</h3>

            </div>

            <div class="right">
                <a a href="~/Home/Index">dashboard /</a>
                <a href="#">Exams List</a>

            </div>

        </div>
        <div class="bottomNewBtn">
            <a class="btn mw-md btn-primary right" href="~/Exams/Exam" >+ New Exam</a>
        </div>

        <table class=" table table-striped table-bordered nowrap" cellspacing="0" width="100%" id="tbl_SearchEncryption">
            <thead>
                <tr>
                    <td></td>
                    <td>Exam Name</td>
                    <td>Exam Duration</td>
                    <td>Exam Category</td>
                    <td>Created On</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div><!-- .widget -->
</div>
<script>
    

    var t = null;

    $(document).ready(function () {

        LoadDataTable();
    });

    function LoadDataTable() {

        let t = $("#tbl_SearchEncryption").DataTable({
            processing: true,
            serverSide: true,
            info: true,
            ajax: {
                url: '../Exams/SearchExam',
                "type": "POST",
                data: function (data) {
                    delete data.columns;

                }
            },
            scrollY: 300,
            deferRender: true,
            //scroller: true,
            columns: [
                {
                    "render": function (data, type, item, meta) {
                        let outputsting = "";

                        if (item.IsActive == true) {
                            outputsting += '<a class="btn btn-sm  btn-danger"  href="examStatus?id=' + item.ExamID + '&&Status=' + false + '">De-Activate</a>&nbsp;&nbsp';
                        }
                        else {
                            outputsting += '<a class="btn btn-sm  btn-success" style="min-width: 100px;" href="examStatus?id=' + item.ExamID + '&&Status=' + true + '">Activate</a>&nbsp;&nbsp;'+
                            '<a class="btn btn-sm  btn-danger" onclick="LoadConfirm(\'Exams/DeleteExam?id=' + item.ExamID + '\',event,\'delete\');" ><i class="fa fa-trash"></i></a>&nbsp;&nbsp';
                        }

                        outputsting += '<a class="btn btn-warning btn-sm BtnSmall ShowLoader BorderRadius50"  href="Exam?Option=Edit&ExamID=' + item.ExamID + '"> <i class="fa fa-pencil-alt" aria-hidden="true"></i></a>&nbsp;&nbsp' +
                            '<a class="btn btn-sm  btn-success" style="min-width: 100px;" href="DownloadAnswerKey?id=' + item.ExamID + '"> <i class="fa fa-download" aria-hidden="true"></i>Answer Key</a>&nbsp;';

                        return outputsting;
                    }
                },
              

                { "data": "ExamName" },
                { "data": "ExamDuration" },
                { "data": "ExamCategoryName" },
                { "data": "CreatedOnString" },

            ],
            columnDefs: [{ orderable: false, targets: [4] }], // to disable columns order, may cause error if not put correctly
            order: [[1, 'asc']],
            select: true,
            //scrollX: true,
            //sScrollX: "100%",
            //sScrollXInner: "100%",
            dom: 'lfrtip',
            //serverPaging: true,
            //  responsive: true,
            buttons: true,
            "language": {
                "emptyTable": "<div class='text-warning text-center'>No Exam found.</div>"
            }
        });

    }

</script>