﻿@model QuestionViewModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<LegalHunter.Data.ApplicationUser> SignInManager
@inject UserManager<LegalHunter.Data.ApplicationUser> UserManager
@{
    var UserInfo = await UserManager.GetUserAsync(User);
}
@{
    ViewData["Title"] = "Question";
}
<style>
    #Result canvas {
        width: 200px;
        height: 200px;
    }

    img {
        margin: 10px;
    }

    .img-wraps {
        position: relative;
        display: inline-block;
        font-size: 0;
    }

        .img-wraps .closes {
            position: absolute;
            top: 5px;
            /*right: 280px;*/
            z-index: 100;
            background-color: red;
            padding: 4px 3px;
            color: white;
            font-weight: bold;
            cursor: pointer;
            text-align: center;
            font-size: 22px;
            line-height: 10px;
            border-radius: 50%;
            border: 1px solid red;
        }

        .img-wraps:hover .closes {
            opacity: 1;
        }

    textarea {
        resize: vertical;
    }
    .CropBtn {
        color: white;
        background: #B31931;
        border: 2px solid #B31931;
        border-radius: 5px;
        margin-top: 5px;
    }
    input[type=file] {
        height: calc(1.5em + 0.75rem + 6px) !important;
    }
    ::-webkit-file-upload-button {
        font: inherit;
        -webkit-appearance: button;
        color: white;
        background: darkgreen;
        border: 2px solid darkgreen;
        /* border: 0px; */
        border-radius: 5px;
    }
</style>
<div id="forms">
    <div class="wrap card">
        <section class="app-content">
            <div class="row">
                <div class="col-md-12 bottom">
                    <div class="left">
                        @if (Model.Option == "Edit")
                        {
                            <h3>Update Question</h3>

                        }
                        else
                        {
                            <h3>New Question</h3>

                        }
                        @*<div class="m-b-xl">
                                Manage Exams Here.
                            </div>*@
                    </div>
                    <div class="right">
                        <a a href="~/Home/Index">dashboard /</a>
                        <a href="~/Questions/QuestionsList">Questions List /</a>
                        <a href="#">Question</a>
                    </div>
                </div>

                <div class="col-lg-6">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data" asp-controller="Questions" asp-action="Question">
                        <div class="form-group">
                            <label for="QuestionTitle" class="col-sm-12">Question Title</label>
                            <div class="col-sm-12">
                                <input type="text" id="control-demo-1" class="form-control" asp-for="@Model.QuestionTitle">
                                <span asp-validation-for="@Model.QuestionTitle" class="text-danger"></span>
                            </div>
                        </div><!-- .form-group -->
                        <div class="form-group">
                            <label for="ExamName" class="col-sm-12">Select Exam Name</label>
                            <div class="col-sm-12">

                                <select id="ExamIDf" asp-for="ExamIDf"
                                        class="form-control Select2" asp-items="@(new SelectList(ViewBag.ExamList,"ExamID", "ExamName"))">
                                    <option value="">[SELECT]</option>
                                </select>
                                <span asp-validation-for="@Model.ExamIDf" class="text-danger"></span>
                            </div>
                        </div><!-- .form-group -->
                        <!--Start Option A-->
                        <div class="form-group">
                            <label for="control-demo-2" class="col-sm-12">Option A</label>
                            <div class="col-sm-12">
                                <input type="text" id="control-demo-2" class="form-control" asp-for="@Model.OptionA">
                                <span asp-validation-for="@Model.OptionA" class="text-danger"></span>
                            </div>
                        </div><!-- .form-group -->

                        <div class="form-group" style=" margin-bottom: 18px;">
                            <div class="col-sm-12">
                                <div>
                                    <label>
                                        <input type="checkbox" id="IsOptionANeedImgCheck" asp-for="@Model.IsOptionANeedImg">
                                        Is Option A Need Image?
                                    </label>
                                </div>

                            </div>

                        </div>
                        <div class="form-group" id="OptionAImgDiv" style="display:none">
                            <div class="col-sm-12">
                                <div>
                                    <label>Option A Image</label>

                                    @if (Model.Option == "Edit")
                                    {
                                        @if (Model.OptionAImg != null && Model.OptionAImg != "")
                                        {
                                            <img id="ImageToCropA" onerror="readURLIndexImage(this)" crossorigin="anonymous" src="~/@Model.OptionAImg" style="width: 25%; display: block;" /><br />
                                        }

                                    }

                                    else
                                    {
                                        <img id="ImageToCropA" onerror="readURLIndexImage(this)" crossorigin="anonymous" style="width:25%;display:block; display:none" /><br />
                                    }

                                    <input type='file' id="OptionAImageFile" name="OptionAImageFile" crossorigin="anonymous" onchange="SelectImage(this,'ImageToCropA','CropButtonA','FinalOptionASrcID','ResultImageA','ResultDivA','ReCropButtonA')" />
                                    @if (Model.Option == "Edit")
                                    {
                                        <input type="hidden" name="FinalOptionASrcID" value="Exists" id="FinalOptionASrcID" />
                                    }
                                    else
                                    {
                                        <input type="hidden" name="FinalOptionASrcID" value="" id="FinalOptionASrcID" />
                                    }


                                    <button style="display:none" class="CropBtn" type="button" id="CropButtonA">
                                        Crop
                                    </button>
                                    <button style="display:none" class="CropBtn" type="button" id="ReCropButtonA">
                                        Re-Crop
                                    </button>
                                    <div class="img-wraps" style="display:none" id="ResultDivA">
                                        <span class="closes" title="Delete" onclick="RemoveImage('ResultDivA','ImageToCropA','OptionAImageFile','ReCropButtonA','FinalOptionASrcID')">&times;</span>
                                        <img id="ResultImageA" name="ResultImageA" src="" alt="" style="width:50%;height:50%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Option A-->
                        <!--Start Option B-->
                        <div class="form-group">
                            <label for="control-demo-2" class="col-sm-12">Option B</label>
                            <div class="col-sm-12">
                                <input type="text" id="control-demo-2" class="form-control" asp-for="@Model.OptionB">
                                <span asp-validation-for="@Model.OptionB" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group" style=" margin-bottom: 18px;">
                            <div class="col-sm-12">
                                <div>
                                    <label>
                                        <input type="checkbox" id="IsOptionBNeedImgCheck" asp-for="@Model.IsOptionBNeedImg">
                                        Is Option B Need Image?
                                    </label>
                                </div>

                            </div>

                        </div>
                        <div class="form-group" id="OptionBImgDiv" style="display:none">
                            <div class="col-sm-12">
                                <div>
                                    <label>Option B Image</label>

                                    @if (Model.Option == "Edit")
                                    {
                                        @if (Model.OptionBImg != null && Model.OptionBImg != "")
                                        {
                                            <img id="ImageToCropB" onerror="readURLIndexImage(this)" crossorigin="anonymous" src="~/@Model.OptionBImg" style="width: 25%; display: block;" /><br />
                                        }

                                    }

                                    else
                                    {
                                        <img id="ImageToCropB" onerror="readURLIndexImage(this)" crossorigin="anonymous" style="width:25%;display:block; display:none" /><br />
                                    }

                                    <input type='file' id="OptionBImageFile" name="OptionBImageFile" crossorigin="anonymous" onchange="SelectImage(this,'ImageToCropB','CropButtonB','FinalOptionBSrcID','ResultImageB','ResultDivB','ReCropButtonB')" />
                                    @if (Model.Option == "Edit")
                                    {
                                        <input type="hidden" name="FinalOptionBSrcID" value="Exists" id="FinalOptionBSrcID" />
                                    }
                                    else
                                    {
                                        <input type="hidden" name="FinalOptionBSrcID" value="" id="FinalOptionBSrcID" />
                                    }


                                    <button style="display:none" class="CropBtn" type="button" id="CropButtonB">
                                        Crop
                                    </button>
                                    <button style="display:none" class="CropBtn" type="button" id="ReCropButtonB">
                                        Re-Crop
                                    </button>
                                    <div class="img-wraps" style="display:none" id="ResultDivB">
                                        <span class="closes" title="Delete" onclick="RemoveImage('ResultDivB','ImageToCropB','OptionBImageFile','ReCropButtonB','FinalOptionBSrcID')">&times;</span>
                                        <img id="ResultImageB" name="ResultImageB" src="" alt="" style="width:50%;height:50%;">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--End Option B-->
                        <!--Start Option C-->
                        <div class="form-group">
                            <label for="control-demo-2" class="col-sm-12">Option C</label>
                            <div class="col-sm-12">
                                <input type="text" id="control-demo-2" class="form-control" asp-for="@Model.OptionC">
                                <span asp-validation-for="@Model.OptionC" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group" style=" margin-bottom: 18px;">
                            <div class="col-sm-12">
                                <div>
                                    <label>
                                        <input type="checkbox" id="IsOptionCNeedImgCheck" asp-for="@Model.IsOptionCNeedImg">
                                        Is Option C Need Image?
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="form-group" id="OptionCImgDiv" style="display:none">
                            <div class="col-sm-12">
                                <div>
                                    <label>Option C Image</label>

                                    @if (Model.Option == "Edit")
                                    {
                                        @if (Model.OptionCImg != null && Model.OptionCImg != "")
                                        {
                                            <img id="ImageToCropC" onerror="readURLIndexImage(this)" crossorigin="anonymous" src="~/@Model.OptionCImg" style="width: 25%; display: block;" /><br />
                                        }

                                    }

                                    else
                                    {
                                        <img id="ImageToCropC" onerror="readURLIndexImage(this)" crossorigin="anonymous" style="width:25%;display:block; display:none" /><br />
                                    }

                                    <input type='file' id="OptionCImageFile" name="OptionCImageFile" crossorigin="anonymous" onchange="SelectImage(this,'ImageToCropC','CropButtonC','FinalOptionCSrcID','ResultImageC','ResultDivC','ReCropButtonC')" />
                                    @if (Model.Option == "Edit")
                                    {
                                        <input type="hidden" name="FinalOptionCSrcID" value="Exists" id="FinalOptionCSrcID" />
                                    }
                                    else
                                    {
                                        <input type="hidden" name="FinalOptionCSrcID" value="" id="FinalOptionCSrcID" />
                                    }


                                    <button style="display:none" class="CropBtn" type="button" id="CropButtonC">
                                        Crop
                                    </button>
                                    <button style="display:none" class="CropBtn" type="button" id="ReCropButtonC">
                                        Re-Crop
                                    </button>
                                    <div class="img-wraps" style="display:none" id="ResultDivC">
                                        <span class="closes" title="Delete" onclick="RemoveImage('ResultDivC','ImageToCropC','OptionCImageFile','ReCropButtonC','FinalOptionCSrcID')">&times;</span>
                                        <img id="ResultImageC" name="ResultImageC" src="" alt="" style="width:50%;height:50%;">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--End Option C-->
                        <!--Start Option D-->
                        <div class="form-group">
                            <label for="control-demo-2" class="col-sm-12">Option D</label>
                            <div class="col-sm-12">
                                <input type="text" id="control-demo-2" class="form-control" asp-for="@Model.OptionD">
                                <span asp-validation-for="@Model.OptionD" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div>
                                    <label>
                                        <input type="checkbox" id="IsOptionDNeedImgCheck" asp-for="@Model.IsOptionDNeedImg">
                                        Is Option D Need Image?
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="form-group" id="OptionDImgDiv" style="display:none">
                            <div class="col-sm-12">
                                <div>
                                    <label>Option D Image</label>

                                    @if (Model.Option == "Edit")
                                    {
                                        @if (Model.OptionDImg != null && Model.OptionDImg != "")
                                        {
                                            <img id="ImageToCropD" onerror="readURLIndexImage(this)" crossorigin="anonymous" src="~/@Model.OptionDImg" style="width: 25%; display: block;" /><br />
                                        }

                                    }

                                    else
                                    {
                                        <img id="ImageToCropD" onerror="readURLIndexImage(this)" crossorigin="anonymous" style="width:25%;display:block; display:none" /><br />
                                    }

                                    <input type='file' id="OptionDImageFile" name="OptionDImageFile" crossorigin="anonymous" onchange="SelectImage(this,'ImageToCropD','CropButtonD','FinalOptionDSrcID','ResultImageD','ResultDivD','ReCropButtonD')" />
                                    @if (Model.Option == "Edit")
                                    {
                                        <input type="hidden" name="FinalOptionDSrcID" value="Exists" id="FinalOptionDSrcID" />
                                    }
                                    else
                                    {
                                        <input type="hidden" name="FinalOptionDSrcID" value="" id="FinalOptionDSrcID" />
                                    }


                                    <button style="display:none" class="CropBtn" type="button" id="CropButtonD">
                                        Crop
                                    </button>
                                    <button style="display:none" class="CropBtn" type="button" id="ReCropButtonD">
                                        Re-Crop
                                    </button>
                                    <div class="img-wraps" style="display:none" id="ResultDivD">
                                        <span class="closes" title="Delete" onclick="RemoveImage('ResultDivD','ImageToCropD','OptionDImageFile','ReCropButtonD','FinalOptionDSrcID')">&times;</span>
                                        <img id="ResultImageD" name="ResultImageD" src="" alt="" style="width:50%;height:50%;">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--End Option D-->
                        <div class="form-group">
                            <label for="CorrectOption" class="col-sm-12">Correct Option</label>
                            <div class="col-sm-12">

                                <select id="CorrectOption" asp-for="CorrectOption"
                                        class="form-control Select2" asp-items="@(new SelectList(ViewBag.CorrectOptionList,"Value", "Text"))">
                                    <option value="">[SELECT]</option>
                                </select>
                                <span asp-validation-for="@Model.ExamIDf" class="text-danger"></span>
                            </div>
                        </div><!-- .form-group -->


                        <div class="form-group">
                            <label for="QuestionDesc" class="col-sm-12">Question Description</label>
                            <div class="col-sm-12">
                                <textarea asp-for="@Model.QuestionDesc" class="form-control"></textarea>
                            </div>
                        </div><!-- .form-group -->
                        <div class="col-md-12 text-center">
                            <input asp-for="Option" type="hidden" />
                            <input asp-for="FromPage" type="hidden" />
                            <input asp-for="ExamQuestionID" type="hidden" />

                            @if (Model.Option == "Edit")
                            {
                                <input type="submit" value="UPDATE" class="btn mw-md btn-warning" />
                            }
                            else
                            {
                                <input type="submit" value="SAVE" class="btn mw-md btn-primary" />
                            }
                        </div>

                    </form>
                </div>
            </div><!-- END row -->
        </section><!-- #dash-content -->
    </div><!-- .wrap -->
</div>
@await Html.PartialAsync("_ImageCropper")

<script>

    $(document).ready(function () {
        if ($('#IsOptionANeedImgCheck').prop("checked") == true) {
            $('#OptionAImgDiv').css("display", "block");
        }
        else if ($('#IsOptionANeedImgCheck').prop("checked") == false) {

            $('#OptionAImgDiv').css("display", "none");
        }

        if ($('#IsOptionBNeedImgCheck').prop("checked") == true) {
            $('#OptionBImgDiv').css("display", "block");
        }
        else if ($('#IsOptionBNeedImgCheck').prop("checked") == false) {

            $('#OptionBImgDiv').css("display", "none");
        }

        if ($('#IsOptionCNeedImgCheck').prop("checked") == true) {
            $('#OptionCImgDiv').css("display", "block");
        }
        else if ($('#IsOptionCNeedImgCheck').prop("checked") == false) {

            $('#OptionCImgDiv').css("display", "none");
        }

        if ($('#IsOptionDNeedImgCheck').prop("checked") == true) {
            $('#OptionDImgDiv').css("display", "block");
        }
        else if ($('#IsOptionDNeedImgCheck').prop("checked") == false) {

            $('#OptionDImgDiv').css("display", "none");
        }

        $('#IsOptionANeedImgCheck').click(function () {
            debugger
            if ($(this).prop("checked") == true) {
                $('#OptionAImgDiv').css("display", "block");
            }
            else if ($(this).prop("checked") == false) {
                $('#OptionAImgDiv').css("display", "none");
            }
        });

        $('#IsOptionBNeedImgCheck').click(function () {
            debugger
            if ($(this).prop("checked") == true) {
                $('#OptionBImgDiv').css("display", "block");
            }
            else if ($(this).prop("checked") == false) {
                $('#OptionBImgDiv').css("display", "none");
            }
        });

        $('#IsOptionCNeedImgCheck').click(function () {
            debugger
            if ($(this).prop("checked") == true) {
                $('#OptionCImgDiv').css("display", "block");
            }
            else if ($(this).prop("checked") == false) {
                $('#OptionCImgDiv').css("display", "none");
            }
        });

        $('#IsOptionDNeedImgCheck').click(function () {
            debugger
            if ($(this).prop("checked") == true) {
                $('#OptionDImgDiv').css("display", "block");
            }
            else if ($(this).prop("checked") == false) {
                $('#OptionDImgDiv').css("display", "none");
            }
        });
    });

    function readURLIndexImage(input) {
        //debugger;
        var inputid = $(input).attr('id');
        //document.getElementById(inputid).src = '../uploads/Noimage.jpg';
        $('#' + inputid).attr('src', '../uploads/Noimage.jpg');
    }

</script>
