﻿@{
    ViewData["Title"] = "Questions List";
}

<div class="col-md-12">
    <div class="widget p-lg">
        <div class="col-md-12 bottom">
            <div class="left">
                <h3>Manage Questions</h3>

            </div>

            <div class="right">
                <a a href="~/Home/Index">dashboard /</a>
                <a href="#">Questions List</a>

            </div>

        </div>
        <div class="bottomNewBtn">
            <a class="btn mw-md btn-primary right" href="~/Questions/Question">+ New Question</a>
        </div>

        <table class=" table table-striped table-bordered nowrap" cellspacing="0" width="100%" id="tbl_SearchEncryption">
            <thead>
                <tr>
                    <td></td>
                    <td>Question Name</td>
                    <td>Option A</td>
                    <td>Option B</td>
                    <td>Option C</td>
                    <td>Option D</td>
                    <td>Corrected Option</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div><!-- .widget -->
</div>
<script>


    var t = null;

    $(document).ready(function () {

        LoadDataTable();
    });

    function LoadDataTable() {

        let t = $("#tbl_SearchEncryption").DataTable({
            processing: true,
            serverSide: true,
            info: true,
            ajax: {
                url: '../Questions/SearchQuestion',
                "type": "POST",
                data: function (data) {
                    delete data.columns;

                }
            },
            scrollY: 300,
            deferRender: true,
            //scroller: true,
            columns: [
                {
                    "render": function (data, type, item, meta) {
                        let outputsting = "";

                        if (item.IsActive == true) {
                            outputsting += '<a class="btn btn-sm  btn-danger"  href="QuestionStatus?id=' + item.ExamQuestionID + '&&Status=' + false + '">De-Activate</a>&nbsp;&nbsp';
                        }
                        else {
                            outputsting += '<a class="btn btn-sm  btn-success" style="min-width: 100px;" href="QuestionStatus?id=' + item.ExamQuestionID + '&&Status=' + true + '">Activate</a>&nbsp;&nbsp;'+
                                '<a class="btn btn-sm  btn-danger" onclick="LoadConfirm(\'Questions/DeleteQuestion?id=' + item.ExamQuestionID + '\',event,\'delete\');" ><i class="fa fa-trash"></i></a>&nbsp;&nbsp';
                        }

                        outputsting += '<a class="btn btn-warning btn-sm BtnSmall ShowLoader BorderRadius50"  href="Question?Option=Edit&ExamQuestionID=' + item.ExamQuestionID + '"> <i class="fa fa-pencil-alt" aria-hidden="true"></i></a>&nbsp;';

                        return outputsting;
                    }
                },


                { "data": "QuestionTitle" },
                { "data": "OptionA" },
                { "data": "OptionB" },
                { "data": "OptionC" },
                { "data": "OptionD" },
                { "data": "CorrectOption" },

            ],
            columnDefs: [{ orderable: false, targets: [6] }], // to disable columns order, may cause error if not put correctly
            order: [[1, 'asc']],
            select: true,
            //scrollX: true,
            //sScrollX: "100%",
            //sScrollXInner: "100%",
            dom: 'lfrtip',
            //serverPaging: true,
            //  responsive: true,
            buttons: true,
            "language": {
                "emptyTable": "<div class='text-warning text-center'>No Questions found.</div>"
            }
        });
    }

</script>